.pokeframe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    
}
.pokemonList-container{
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}