.pokedex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    line-height: 100px;
}

.heading{
    margin: 0 auto;
    letter-spacing: 5px;
}